@import "scss/custom-bootstrap.scss";
@import "react-bootstrap-sidebar-menu/dist/sidebar-menu.scss";

body {
  margin: 0px;
  padding: 0px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg fill="rgb(204, 204, 204)" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path></svg>');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 8px);
  background-position-y: 8px;
}

h2 {
  color: var(--bs-primary);
}

h4 {
  color: var(--bs-primary);
  margin-bottom: 0.2rem;
}

.p-treeselect .p-treeselect-label-container {
  border: 1px solid var(--colorBorderDefault);
  border-radius: 10px;
  padding: 10px;

  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .p-treeselect-token {
    padding: 5px;
    margin: 3px;
    margin-right: 10px;
    border-radius: 5px;
  }
}

.p-checkbox.p-component {
  margin-right: 10px;
}

.p-tree.p-component.p-tree-selectable .p-treenode-content {
  margin-top: 3px;
}

.p-treeselect {
  max-width: calc(100vw - 350px);
}

@media screen and (max-width: 710px) {
  .sidebar-menu {
    overflow-y: unset !important;
  }

  .main-container {
    padding-left: 0 !important;
  }
}
.p-treeselect-items-wrapper {
  width: 500px;
}

.ant-table-content table {
  table-layout: fixed;
  width: 100%;
}
.ant-table-cell {
  word-break: break-word;
  overflow-wrap: anywhere;
  min-width: 100px;
}
